<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.buildcoin.plugins.jenkins.BuildcoinProperty plugin="buildcoin-plugin@1.4">
      <buildcoinJobKey></buildcoinJobKey>
      <buildcoinJobDisabled>false</buildcoinJobDisabled>
    </com.buildcoin.plugins.jenkins.BuildcoinProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PathProjeto</name>
          <description>Variavel para configurar o path do pojeto</description>
          <defaultValue>C:\Work\Homolog\src\DotNet\Server\Communication\SOAP</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PathDeployProjeto</name>
          <description>Path para copiar o deploy do projeto</description>
          <defaultValue>c:\builds\QA\Fenix\wwwroot\DTPlataforma\services\SOAP</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PathSolution</name>
          <description>Path do arquivo da solution</description>
          <defaultValue>C:\Work\Homolog\src\DotNet\Legado\DirectTalk.Template_3.1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DiffBranch</name>
          <description>Campo onde colocamos uma TAG ou Branch para o Diff.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Branch</name>
          <description>Nome do Branch no GIT</description>
          <defaultValue>qa</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IP_APP</name>
          <description>IP do ambiente que deseja aplicar o pacote</description>
          <defaultValue>10.0.1.212</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.1.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://git@bitbucket.org/directtalk/fenix.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$Branch</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PerBuildTag/>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>$Branch</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\Work\Homolog\</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd /
cd C:\Work\Homolog
git clean -d -x -f

RD %PathDeployProjeto% /S /Q</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>nuget restore %PathSolution%\DirectTalk.Template.UI.31.sln

</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>powershell c:\work\Deploy\ReplaceAPP.ps1 &apos;%PathProjeto%\packages.config&apos;</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.24">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>Branch=$Branch</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>03 - Domain</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.24">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>Branch=$Branch</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>03 - Server.Common</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.21">
      <msBuildName>(Default)</msBuildName>
      <msBuildFile>%PathSolution%\DirectTalk.Template.UI.31.sln</msBuildFile>
      <cmdLineArgs>/t:Clean,Build  /P:Configuration=Release  /property:PublishProfile=Release;DeployIisAppPath=&quot;%Nome_SITE_IIS%/services/soap&quot;;PublishDestination=%PathDeployProjeto%&quot;;VisualStudioVersion=11.0;DeployOnBuild=true</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>powershell Set-ExecutionPolicy unrestricted

SQLPS.exe c:\work\Deploy\CopyDB.ps1 &apos;%Branch%&apos; &apos;%PathProjeto%&apos; &apos;%IP_BANCO%&apos; &apos;%PathProjeto%\&apos; &apos;%DiffBranch%&apos;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>xcopy /s %PathProjeto%\db c:\builds\qa\db\

xcopy /s /y %PathProjeto%\obj\Release\Package\PackageTmp %PathDeployProjeto%\

xcopy /s /y C:\Work\Deploy\CompilaBancosDT.bat C:\Builds\qa\db\scripts\transactional\

</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.6">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>