<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.572</version>
  <numExecutors>25</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Computer.Configure:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Computer.Delete:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Computer.Delete:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Hudson.Administer:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Hudson.Administer:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Hudson.Read:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Hudson.Read:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:csanchez@ccsouth.cccore.com</permission>
    <permission>hudson.model.Hudson.Read:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Build:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Build:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.Item.Build:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Configure:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Configure:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.Item.Configure:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Create:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Create:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.Item.Create:authenticated</permission>
    <permission>hudson.model.Item.Create:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Delete:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Delete:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Read:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Read:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.Item.Read:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Item.Workspace:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Item.Workspace:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Run.Delete:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Run.Delete:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.Run.Update:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.Run.Update:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.View.Configure:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.View.Configure:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.View.Configure:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.View.Create:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.View.Create:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.model.View.Create:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.model.View.Delete:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.model.View.Delete:jyesudasanAD@ccsouth.cccore.com</permission>
    <permission>hudson.scm.SCM.Tag:ROLE_DMADMINISTRATOR</permission>
    <permission>hudson.scm.SCM.Tag:ROLE_DMCONFIGURATOR</permission>
    <permission>hudson.scm.SCM.Tag:jyesudasanAD@ccsouth.cccore.com</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm" plugin="ldap@1.6">
    <server>ldap://ldap64.ccsouth.cccore.com:3268</server>
    <rootDN>dc=cccore,dc=com</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase></userSearchBase>
    <userSearch>userPrincipalName={0}</userSearch>
    <managerDN>CN=SV-JiraUser,OU=UserAccountsGroups,dc=ccnorth,dc=cccore,dc=com</managerDN>
    <managerPassword>Q3JlZGl0MTIz</managerPassword>
    <disableMailAddressResolver>false</disableMailAddressResolver>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>WELCOME TO ATLANTICUS BUILD and DEPLOYMENT SYSTEM!!!!</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>1.7</name>
      <home>/usr/java/jdk1.7.0_60</home>
      <properties/>
    </jdk>
    <jdk>
      <name>1.6</name>
      <home>/usr/lib/jvm/java</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>dla0614-svccrtbld</name>
      <description>Server to Build RPM&apos;s for Python</description>
      <remoteFS>/srv/nfs/relmgt/hudson/dla0614-svccrtbld</remoteFS>
      <numExecutors>5</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>dla0614.ccrt.us</host>
        <port>22</port>
        <credentialsId>9aa82098-9628-4d4e-b885-b3341e12ecc9</credentialsId>
      </launcher>
      <label>RPM PACKAGING BOX for PYTON</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>dla0623-svccrtbld</name>
      <description>Server to Build CDE Python RPM&apos;s</description>
      <remoteFS>/srv/nfs/relmgt/hudson/dla0623-svccrtbld</remoteFS>
      <numExecutors>5</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>dla0623.ccrt.us</host>
        <port>22</port>
        <credentialsId>9aa82098-9628-4d4e-b885-b3341e12ecc9</credentialsId>
      </launcher>
      <label>RPM PACKAGING BOX FOR CDE PYTHON</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CarFinancials</name>
      <description>sscm://10.24.9.34:4900//CarFinancials</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>CarFinancialsDeployDEVOracle</string>
        <string>CarFinancialsDeployDEVRPM</string>
        <string>CarFinancialsDeployPRODOracle</string>
        <string>CarFinancialsDeployPRODRPM</string>
        <string>CarFinancialsDeployQARPM</string>
        <string>CarFinancialsPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ProductionSupport</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>InformaticaSolarisMaintenance</string>
        <string>JbossMaintenanceINT</string>
        <string>RPMInstallVerification</string>
        <string>TidalLinuxMaintenance</string>
        <string>TidalSolarisMaintenance</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>vtam-collections</name>
      <description>sscm://10.24.9.34:4900//vtam-collections</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>vtam-collections-package</string>
        <string>vtam-collectionsDeployDEVOracle</string>
        <string>vtam-collectionsDeployPRODOracle</string>
        <string>vtam-collectionsDeployQAOracle</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>IT-SharedServices</name>
      <description>sscm://10.24.9.34:4900//IT-SharedServices</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>IT-SharedServicesDeployDEVOracle</string>
        <string>IT-SharedServicesDeployDEVRPM</string>
        <string>IT-SharedServicesDeployPRODOracle</string>
        <string>IT-SharedServicesDeployPRODRPM</string>
        <string>IT-SharedServicesDeployQAOracle</string>
        <string>IT-SharedServicesDeployQARPM</string>
        <string>IT-SharedServicesPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Collections</name>
      <description>sscm://10.24.9.34:4900//vtam-collections</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>Collections-package</string>
        <string>CollectionsDeployDEVOracle</string>
        <string>CollectionsDeployDEVRPM</string>
        <string>CollectionsDeployPRODOracle</string>
        <string>CollectionsDeployPRODRPM</string>
        <string>CollectionsDeployQAOracle</string>
        <string>CollectionsDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>MockTest</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>ConfiguratorPackageandDeploy</string>
        <string>MockInvokeCRON</string>
        <string>MockMonitorCRON</string>
        <string>MockTestDeployDEVOracle</string>
        <string>MockTestDeployDEVRPM</string>
        <string>MockTestDeployDEVRPMUsingANT</string>
        <string>MockTestPackage</string>
        <string>MockTestRPMInstallVerificationUsingANT</string>
        <string>MockTestTidalMaintenanceUsingANT</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Administration</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>ConfiguratorPackageandDeploy</string>
        <string>play2Git</string>
        <string>playGitMaven</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>IT-Processes</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>IT-ProcessesDeployDEVMYSQL</string>
        <string>IT-ProcessesDeployDEVNETEZZA</string>
        <string>IT-ProcessesDeployDEVOracle</string>
        <string>IT-ProcessesDeployDEVRPM</string>
        <string>IT-ProcessesDeployINTEMYSQL</string>
        <string>IT-ProcessesDeployPRODMYSQL</string>
        <string>IT-ProcessesDeployPRODNETEZZA</string>
        <string>IT-ProcessesDeployPRODOracle</string>
        <string>IT-ProcessesDeployPRODRPM</string>
        <string>IT-ProcessesDeployQAMYSQL</string>
        <string>IT-ProcessesDeployQANETEZZA</string>
        <string>IT-ProcessesDeployQAOracle</string>
        <string>IT-ProcessesDeployQARPM</string>
        <string>IT-ProcessesPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Risk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>RiskDeployDEVOracle</string>
        <string>RiskDeployPRODOracle</string>
        <string>RiskDeployQAOracle</string>
        <string>RiskPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Acct-Sec</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>Acct-SecDeployDEVNETEZZA</string>
        <string>Acct-SecDeployDEVOracle</string>
        <string>Acct-SecDeployDEVRPM</string>
        <string>Acct-SecDeployPRODNETEZZA</string>
        <string>Acct-SecDeployPRODOracle</string>
        <string>Acct-SecDeployPRODRPM</string>
        <string>Acct-SecDeployQANETEZZA</string>
        <string>Acct-SecDeployQAOracle</string>
        <string>Acct-SecDeployQARPM</string>
        <string>Acct-SecPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>JeffersonCapital</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>JeffersonCapitalAdministration</string>
        <string>JeffersonCapitalDeployDEVOracle</string>
        <string>JeffersonCapitalDeployPRODOracle</string>
        <string>JeffersonCapitalPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Madison_Park</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>Madison_Park-demo-package</string>
        <string>Madison_Park-package</string>
        <string>Madison_ParkDeployBatchDEVRPM</string>
        <string>Madison_ParkDeployDEVOracle</string>
        <string>Madison_ParkDeployINTEMYSQL</string>
        <string>Madison_ParkDeployPRODOracle</string>
        <string>Madison_ParkDeployQAMYSQL</string>
        <string>Madison_ParkDeployQAOracle</string>
        <string>Madison_ParkDeployRealTimeINTERPM</string>
        <string>Madison_ParkDeployRealTimePRODRPM</string>
        <string>Madison_ParkDeployRealTimeQARPM</string>
        <string>MagentoMaintenanceINT</string>
        <string>MagentoMaintenancePROD</string>
        <string>MagentoMaintenanceQA</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CreditServices</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>CreditServices-package</string>
        <string>CreditServicesDeployAWSPRODDEMORPM</string>
        <string>CreditServicesDeployAWSPRODOracle</string>
        <string>CreditServicesDeployDEVOracle</string>
        <string>CreditServicesDeployINTEMYSQL</string>
        <string>CreditServicesDeployINTERPM</string>
        <string>CreditServicesDeployINTERPMGroup</string>
        <string>CreditServicesDeployPRODMYSQL</string>
        <string>CreditServicesDeployPRODOracle</string>
        <string>CreditServicesDeployPRODRPM</string>
        <string>CreditServicesDeployPRODRPMGroup</string>
        <string>CreditServicesDeployQAMYSQL</string>
        <string>CreditServicesDeployQAOracle</string>
        <string>CreditServicesDeployQARPM</string>
        <string>CreditServicesDeployQARPMALL</string>
        <string>CRONJbossMaintenanceQAReStartQLA0617a</string>
        <string>CRONJbossMaintenanceQAReStartQLA0617b</string>
        <string>CRONJbossMaintenanceQAStopQLA0617a</string>
        <string>CRONJbossMaintenanceQAStopQLA0617b</string>
        <string>JbossMaintenanceAWSPRODDEMO</string>
        <string>JbossMaintenanceINT</string>
        <string>JbossMaintenancePROD</string>
        <string>JbossMaintenancePRODGroup</string>
        <string>JbossMaintenanceQA</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CSOperations</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>CSOperations-package</string>
        <string>CSOperationsDeployDEVOracle</string>
        <string>CSOperationsDeployDEVRPM</string>
        <string>CSOperationsDeployPRODOracle</string>
        <string>CSOperationsDeployPRODRPM</string>
        <string>CSOperationsDeployQAOracle</string>
        <string>CSOperationsDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>AccessFinancing</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
        <string>AccessFinancing-package</string>
        <string>AccessFinancingDeployDEVNETEZZA</string>
        <string>AccessFinancingDeployDEVOracle</string>
        <string>AccessFinancingDeployDEVRPM</string>
        <string>AccessFinancingDeployPRODNETEZZA</string>
        <string>AccessFinancingDeployPRODOracle</string>
        <string>AccessFinancingDeployPRODRPM</string>
        <string>AccessFinancingDeployQANETEZZA</string>
        <string>AccessFinancingDeployQAOracle</string>
        <string>AccessFinancingDeployQARPM</string>
        <string>RTTMDeployAWSPRODOracle</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>OldCVS_cx005-RTTM-CHAMP</name>
      <description>RTTM Packages Built &amp; Deployed on CHAMP</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
        <string>OldCVS_cx005-DynaScript-RTTM-package</string>
        <string>OldCVS_cx005-DynaScript-RTTMDeployAWSPRODDEMORPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMDeployINTERPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMDeployPRODRPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMDeployPRODRPMGroup</string>
        <string>OldCVS_cx005-DynaScript-RTTMDeployQARPM</string>
        <string>RTTM-AF-JbossMaintenanceAWSPRODDEMOSTARTSTOP</string>
        <string>RTTM-AF-JbossMaintenanceINT</string>
        <string>RTTM-AF-JbossMaintenancePROD</string>
        <string>RTTM-AF-JbossMaintenancePRODGroup</string>
        <string>RTTM-AF-JbossMaintenancePRODSTARTSTOP</string>
        <string>RTTM-AF-JbossMaintenanceQA</string>
        <string>RTTM-INSTALLED-PACKAGES-QUERY</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Feebase</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[14]/jobNames/comparator"/>
        <string>FeebaseDeployDEVOracle</string>
        <string>FeebaseDeployPRODOracle</string>
        <string>FeebaseDeployQAOracle</string>
        <string>FeebasePackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>OldCVS_cx005-RTTM-INTERNAL</name>
      <description>RTTM Packages Built &amp; Deployed on New Internal RTTM Boxes</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>OldCVS_cx005-DynaScript-Apps-package</string>
        <string>OldCVS_cx005-DynaScript-Core-package</string>
        <string>OldCVS_cx005-DynaScript-CvsScript-package</string>
        <string>OldCVS_cx005-DynaScript-RTTMINTERNALDeployINTERPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMINTERNALDeployPRODRPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMINTERNALDeployPRODRPMGroup</string>
        <string>OldCVS_cx005-DynaScript-RTTMINTERNALDeployQARPM</string>
        <string>OldCVS_cx005-DynaScript-RTTMINTERNALDeploySANDBOXRPM</string>
        <string>RTTM-INSTALLED-PACKAGES-QUERY</string>
        <string>RTTM-INTERNAL-JbossMaintenanceINT</string>
        <string>RTTM-INTERNAL-JbossMaintenancePROD</string>
        <string>RTTM-INTERNAL-JbossMaintenancePRODGroup</string>
        <string>RTTM-INTERNAL-JbossMaintenanceQA</string>
        <string>RTTM-INTERNAL-JbossMaintenanceSANDBOX</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>RTTM</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[18]/jobNames/comparator"/>
        <string>RTTMDeployAWSPRODOracle</string>
        <string>RTTMDeployDEVDEMOOracle</string>
        <string>RTTMDeployDEVOracle</string>
        <string>RTTMDeployDEVRPM</string>
        <string>RTTMDeployPRODOracle</string>
        <string>RTTMDeployPRODRPM</string>
        <string>RTTMDeployQAOracle</string>
        <string>RTTMDeployQARPM</string>
        <string>RTTMPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>web-ols</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[18]/jobNames/comparator"/>
        <string>web-ols-Apps-package</string>
        <string>web-ols-AWS-DeployINTERPM</string>
        <string>web-ols-AWS-DeployPRODRPM</string>
        <string>web-ols-AWS-DeployQARPM</string>
        <string>web-ols-AWS-JbossMaintenanceINT</string>
        <string>web-ols-AWS-JbossMaintenanceINTGroup</string>
        <string>web-ols-AWS-JbossMaintenancePROD</string>
        <string>web-ols-AWS-JbossMaintenancePRODGroup</string>
        <string>web-ols-AWS-JbossMaintenanceQA</string>
        <string>web-ols-AWS-JbossMaintenanceQAGroup</string>
        <string>web-ols-frameworks-package</string>
        <string>web-ols-JbossMaintenanceINT</string>
        <string>web-ols-JbossMaintenancePROD</string>
        <string>web-ols-JbossMaintenanceQA</string>
        <string>web-olsDBPackage</string>
        <string>web-olsDeployDEVOracle</string>
        <string>web-olsDeployINTERPM</string>
        <string>web-olsDeployPRODOracle</string>
        <string>web-olsDeployPRODRPM</string>
        <string>web-olsDeployQAOracle</string>
        <string>web-olsDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Fortiva</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Fortiva-JbossMaintenanceINT</string>
        <string>Fortiva-JbossMaintenanceQA</string>
        <string>Fortiva-package</string>
        <string>Fortiva-package-fromgit</string>
        <string>Fortiva-package-GIT</string>
        <string>Fortiva-packageGIT</string>
        <string>FortivaDeployDEVMYSQL</string>
        <string>FortivaDeployDEVOracle</string>
        <string>FortivaDeployINTERPM</string>
        <string>FortivaDeployPRODOracle</string>
        <string>FortivaDeployQAOracle</string>
        <string>FortivaDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>PortfolioManagement</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[21]/jobNames/comparator"/>
        <string>PortfolioManagement-package</string>
        <string>PortfolioManagementDeployDEVOracle</string>
        <string>PortfolioManagementDeployDEVRPM</string>
        <string>PortfolioManagementDeployPRODOracle</string>
        <string>PortfolioManagementDeployPRODRPM</string>
        <string>PortfolioManagementDeployQAOracle</string>
        <string>PortfolioManagementDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>xmlgw</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>xmlgwDeployDEVOracle</string>
        <string>xmlgwPackage</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Cde</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[23]/jobNames/comparator"/>
        <string>cde-package</string>
        <string>cdeDeployDEVMYSQL</string>
        <string>cdeDeployDEVOracle</string>
        <string>cdeDeployDEVRPM</string>
        <string>cdeDeployPRODOracle</string>
        <string>cdeDeployQAMYSQL</string>
        <string>cdeDeployQAOracle</string>
        <string>cdeDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>web-acquisition</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[23]/jobNames/comparator"/>
        <string>web-acquisition-package</string>
        <string>web-acquisitionDeployINTERPM</string>
        <string>web-acquisitionDeployPRODRPM</string>
        <string>web-acquisitionDeployQARPM</string>
        <string>web-acquistion-JbossMaintenanceINT</string>
        <string>web-acquistion-JbossMaintenancePROD</string>
        <string>web-acquistion-JbossMaintenanceQA</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ram</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>ram-package</string>
        <string>ramDeployDEVOracle</string>
        <string>ramDeployDEVRPM</string>
        <string>ramDeployPRODOracle</string>
        <string>ramDeployPRODRPM</string>
        <string>ramDeployQAOracle</string>
        <string>ramDeployQARPM</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>rms</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>playGitMaven</string>
        <string>playGitMavenBackup</string>
        <string>rms-java</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>atlanticusuk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>atlanticusuk-JbossMaintenanceINT</string>
        <string>atlanticusuk-package</string>
        <string>atlanticusukDeployINTERPM</string>
        <string>atlanticusukPushRPMtoAwsUkProdRepo</string>
        <string>atlanticusukPushRPMtoAwsUkQaRepo</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>AccessFinancing</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
