<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.14.2">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </org.jenkinsci.plugins.workflow.job.properties.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>x</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.14.2">
    <script>//sleep time: 10, unit: &apos;MILLISECONDS&apos;
build job: &apos;class-loading-JENKINS-23784&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;x&apos;, value: env.BUILD_NUMBER]], wait: false
addall([])
class X000 implements Serializable {}
class X001 implements Serializable {}
class X002 implements Serializable {}
class X003 implements Serializable {}
class X004 implements Serializable {}
class X005 implements Serializable {}
class X006 implements Serializable {}
class X007 implements Serializable {}
class X008 implements Serializable {}
class X009 implements Serializable {}
class X010 implements Serializable {}
class X011 implements Serializable {}
class X012 implements Serializable {}
class X013 implements Serializable {}
class X014 implements Serializable {}
class X015 implements Serializable {}
class X016 implements Serializable {}
class X017 implements Serializable {}
class X018 implements Serializable {}
class X019 implements Serializable {}
class X020 implements Serializable {}
class X021 implements Serializable {}
class X022 implements Serializable {}
class X023 implements Serializable {}
class X024 implements Serializable {}
class X025 implements Serializable {}
class X026 implements Serializable {}
class X027 implements Serializable {}
class X028 implements Serializable {}
class X029 implements Serializable {}
class X030 implements Serializable {}
class X031 implements Serializable {}
class X032 implements Serializable {}
class X033 implements Serializable {}
class X034 implements Serializable {}
class X035 implements Serializable {}
class X036 implements Serializable {}
class X037 implements Serializable {}
class X038 implements Serializable {}
class X039 implements Serializable {}
class X040 implements Serializable {}
class X041 implements Serializable {}
class X042 implements Serializable {}
class X043 implements Serializable {}
class X044 implements Serializable {}
class X045 implements Serializable {}
class X046 implements Serializable {}
class X047 implements Serializable {}
class X048 implements Serializable {}
class X049 implements Serializable {}
class X050 implements Serializable {}
class X051 implements Serializable {}
class X052 implements Serializable {}
class X053 implements Serializable {}
class X054 implements Serializable {}
class X055 implements Serializable {}
class X056 implements Serializable {}
class X057 implements Serializable {}
class X058 implements Serializable {}
class X059 implements Serializable {}
class X060 implements Serializable {}
class X061 implements Serializable {}
class X062 implements Serializable {}
class X063 implements Serializable {}
class X064 implements Serializable {}
class X065 implements Serializable {}
class X066 implements Serializable {}
class X067 implements Serializable {}
class X068 implements Serializable {}
class X069 implements Serializable {}
class X070 implements Serializable {}
class X071 implements Serializable {}
class X072 implements Serializable {}
class X073 implements Serializable {}
class X074 implements Serializable {}
class X075 implements Serializable {}
class X076 implements Serializable {}
class X077 implements Serializable {}
class X078 implements Serializable {}
class X079 implements Serializable {}
class X080 implements Serializable {}
class X081 implements Serializable {}
class X082 implements Serializable {}
class X083 implements Serializable {}
class X084 implements Serializable {}
class X085 implements Serializable {}
class X086 implements Serializable {}
class X087 implements Serializable {}
class X088 implements Serializable {}
class X089 implements Serializable {}
class X090 implements Serializable {}
class X091 implements Serializable {}
class X092 implements Serializable {}
class X093 implements Serializable {}
class X094 implements Serializable {}
class X095 implements Serializable {}
class X096 implements Serializable {}
class X097 implements Serializable {}
class X098 implements Serializable {}
class X099 implements Serializable {}
def addall(xs) {
  xs.add(new X000())
  xs.add(new X001())
  xs.add(new X002())
  xs.add(new X003())
  xs.add(new X004())
  xs.add(new X005())
  xs.add(new X006())
  xs.add(new X007())
  xs.add(new X008())
  xs.add(new X009())
  xs.add(new X010())
  xs.add(new X011())
  xs.add(new X012())
  xs.add(new X013())
  xs.add(new X014())
  xs.add(new X015())
  xs.add(new X016())
  xs.add(new X017())
  xs.add(new X018())
  xs.add(new X019())
  xs.add(new X020())
  xs.add(new X021())
  xs.add(new X022())
  xs.add(new X023())
  xs.add(new X024())
  xs.add(new X025())
  xs.add(new X026())
  xs.add(new X027())
  xs.add(new X028())
  xs.add(new X029())
  xs.add(new X030())
  xs.add(new X031())
  xs.add(new X032())
  xs.add(new X033())
  xs.add(new X034())
  xs.add(new X035())
  xs.add(new X036())
  xs.add(new X037())
  xs.add(new X038())
  xs.add(new X039())
  xs.add(new X040())
  xs.add(new X041())
  xs.add(new X042())
  xs.add(new X043())
  xs.add(new X044())
  xs.add(new X045())
  xs.add(new X046())
  xs.add(new X047())
  xs.add(new X048())
  xs.add(new X049())
  xs.add(new X050())
  xs.add(new X051())
  xs.add(new X052())
  xs.add(new X053())
  xs.add(new X054())
  xs.add(new X055())
  xs.add(new X056())
  xs.add(new X057())
  xs.add(new X058())
  xs.add(new X059())
  xs.add(new X060())
  xs.add(new X061())
  xs.add(new X062())
  xs.add(new X063())
  xs.add(new X064())
  xs.add(new X065())
  xs.add(new X066())
  xs.add(new X067())
  xs.add(new X068())
  xs.add(new X069())
  xs.add(new X070())
  xs.add(new X071())
  xs.add(new X072())
  xs.add(new X073())
  xs.add(new X074())
  xs.add(new X075())
  xs.add(new X076())
  xs.add(new X077())
  xs.add(new X078())
  xs.add(new X079())
  xs.add(new X080())
  xs.add(new X081())
  xs.add(new X082())
  xs.add(new X083())
  xs.add(new X084())
  xs.add(new X085())
  xs.add(new X086())
  xs.add(new X087())
  xs.add(new X088())
  xs.add(new X089())
  xs.add(new X090())
  xs.add(new X091())
  xs.add(new X092())
  xs.add(new X093())
  xs.add(new X094())
  xs.add(new X095())
  xs.add(new X096())
  xs.add(new X097())
  xs.add(new X098())
  xs.add(new X099())
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>