#define CONST_VERSION_PERIOD "6.24.0.0\000"
#define CONST_VERSION_COMMA 6,24,0,0
1 VERSIONINFO
FILEVERSION CONST_VERSION_COMMA
PRODUCTVERSION CONST_VERSION_COMMA
FILEFLAGSMASK 0x3fL
#ifdef DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
FILEOS 0x4
FILETYPE 0x1
BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904E4"
            BEGIN
                VALUE "CompanyName", "Basis Technologies International Limited\000"
                VALUE "FileDescription", "Transport Expresso Main Program\000"
                VALUE "FileVersion", CONST_VERSION_PERIOD
                VALUE "InternalName", "\000"
                VALUE "LegalCopyright", "© 1997-2016 Basis Technologies International Limited\0"
                VALUE "LegalTrademarks", "\000"
                VALUE "OriginalFilename", "TE.exe\000"
                VALUE "ProductName", "Transport Express\000"
                VALUE "ProductVersion", CONST_VERSION_PERIOD
                VALUE "Comments", "\000"
            END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0409 0x04E4
        END
END
