<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
    <string>jenkins.model.DownloadSettings$Warning</string>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
    <string>jenkins.security.QueueItemAuthenticatorMonitor</string>
    <string>jenkins.security.ResourceDomainRecommendation</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.261</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>0</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:adam</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:Administrator</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jaime</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:mark</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:michael</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:paul</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:shachar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:adam</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:Administrator</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jaime</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:mark</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:michael</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:paul</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:shachar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:adam</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:Administrator</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jaime</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:mark</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:michael</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:paul</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:shachar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:adam</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:Administrator</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:igor</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jaime</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:johnh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:mark</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:michael</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:paul</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:shachar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:adam</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:Administrator</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:igor</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jaime</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:johnh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:mark</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:michael</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:paul</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:shachar</permission>
    <permission>hudson.model.Computer.Build:adam</permission>
    <permission>hudson.model.Computer.Build:Administrator</permission>
    <permission>hudson.model.Computer.Build:igor</permission>
    <permission>hudson.model.Computer.Build:jaime</permission>
    <permission>hudson.model.Computer.Build:john</permission>
    <permission>hudson.model.Computer.Build:johnh</permission>
    <permission>hudson.model.Computer.Build:mark</permission>
    <permission>hudson.model.Computer.Build:michael</permission>
    <permission>hudson.model.Computer.Build:paul</permission>
    <permission>hudson.model.Computer.Build:shachar</permission>
    <permission>hudson.model.Computer.Configure:adam</permission>
    <permission>hudson.model.Computer.Configure:Administrator</permission>
    <permission>hudson.model.Computer.Configure:jaime</permission>
    <permission>hudson.model.Computer.Configure:john</permission>
    <permission>hudson.model.Computer.Configure:mark</permission>
    <permission>hudson.model.Computer.Configure:michael</permission>
    <permission>hudson.model.Computer.Configure:paul</permission>
    <permission>hudson.model.Computer.Configure:shachar</permission>
    <permission>hudson.model.Computer.Connect:adam</permission>
    <permission>hudson.model.Computer.Connect:Administrator</permission>
    <permission>hudson.model.Computer.Connect:igor</permission>
    <permission>hudson.model.Computer.Connect:jaime</permission>
    <permission>hudson.model.Computer.Connect:john</permission>
    <permission>hudson.model.Computer.Connect:johnh</permission>
    <permission>hudson.model.Computer.Connect:mark</permission>
    <permission>hudson.model.Computer.Connect:michael</permission>
    <permission>hudson.model.Computer.Connect:paul</permission>
    <permission>hudson.model.Computer.Connect:shachar</permission>
    <permission>hudson.model.Computer.Create:adam</permission>
    <permission>hudson.model.Computer.Create:Administrator</permission>
    <permission>hudson.model.Computer.Create:jaime</permission>
    <permission>hudson.model.Computer.Create:john</permission>
    <permission>hudson.model.Computer.Create:mark</permission>
    <permission>hudson.model.Computer.Create:michael</permission>
    <permission>hudson.model.Computer.Create:paul</permission>
    <permission>hudson.model.Computer.Create:shachar</permission>
    <permission>hudson.model.Computer.Delete:adam</permission>
    <permission>hudson.model.Computer.Delete:Administrator</permission>
    <permission>hudson.model.Computer.Delete:jaime</permission>
    <permission>hudson.model.Computer.Delete:john</permission>
    <permission>hudson.model.Computer.Delete:mark</permission>
    <permission>hudson.model.Computer.Delete:michael</permission>
    <permission>hudson.model.Computer.Delete:paul</permission>
    <permission>hudson.model.Computer.Delete:shachar</permission>
    <permission>hudson.model.Computer.Disconnect:adam</permission>
    <permission>hudson.model.Computer.Disconnect:Administrator</permission>
    <permission>hudson.model.Computer.Disconnect:jaime</permission>
    <permission>hudson.model.Computer.Disconnect:john</permission>
    <permission>hudson.model.Computer.Disconnect:mark</permission>
    <permission>hudson.model.Computer.Disconnect:michael</permission>
    <permission>hudson.model.Computer.Disconnect:paul</permission>
    <permission>hudson.model.Computer.Disconnect:shachar</permission>
    <permission>hudson.model.Hudson.Administer:adam</permission>
    <permission>hudson.model.Hudson.Administer:Administrator</permission>
    <permission>hudson.model.Hudson.Administer:jaime</permission>
    <permission>hudson.model.Hudson.Administer:john</permission>
    <permission>hudson.model.Hudson.Administer:mark</permission>
    <permission>hudson.model.Hudson.Administer:michael</permission>
    <permission>hudson.model.Hudson.Administer:paul</permission>
    <permission>hudson.model.Hudson.Administer:shachar</permission>
    <permission>hudson.model.Hudson.Read:adam</permission>
    <permission>hudson.model.Hudson.Read:Administrator</permission>
    <permission>hudson.model.Hudson.Read:igor</permission>
    <permission>hudson.model.Hudson.Read:jaime</permission>
    <permission>hudson.model.Hudson.Read:john</permission>
    <permission>hudson.model.Hudson.Read:johnh</permission>
    <permission>hudson.model.Hudson.Read:mark</permission>
    <permission>hudson.model.Hudson.Read:michael</permission>
    <permission>hudson.model.Hudson.Read:paul</permission>
    <permission>hudson.model.Hudson.Read:shachar</permission>
    <permission>hudson.model.Item.Build:adam</permission>
    <permission>hudson.model.Item.Build:Administrator</permission>
    <permission>hudson.model.Item.Build:igor</permission>
    <permission>hudson.model.Item.Build:jaime</permission>
    <permission>hudson.model.Item.Build:john</permission>
    <permission>hudson.model.Item.Build:johnh</permission>
    <permission>hudson.model.Item.Build:mark</permission>
    <permission>hudson.model.Item.Build:michael</permission>
    <permission>hudson.model.Item.Build:paul</permission>
    <permission>hudson.model.Item.Build:shachar</permission>
    <permission>hudson.model.Item.Cancel:adam</permission>
    <permission>hudson.model.Item.Cancel:Administrator</permission>
    <permission>hudson.model.Item.Cancel:igor</permission>
    <permission>hudson.model.Item.Cancel:jaime</permission>
    <permission>hudson.model.Item.Cancel:john</permission>
    <permission>hudson.model.Item.Cancel:johnh</permission>
    <permission>hudson.model.Item.Cancel:mark</permission>
    <permission>hudson.model.Item.Cancel:michael</permission>
    <permission>hudson.model.Item.Cancel:paul</permission>
    <permission>hudson.model.Item.Cancel:shachar</permission>
    <permission>hudson.model.Item.Configure:adam</permission>
    <permission>hudson.model.Item.Configure:Administrator</permission>
    <permission>hudson.model.Item.Configure:jaime</permission>
    <permission>hudson.model.Item.Configure:john</permission>
    <permission>hudson.model.Item.Configure:mark</permission>
    <permission>hudson.model.Item.Configure:michael</permission>
    <permission>hudson.model.Item.Configure:paul</permission>
    <permission>hudson.model.Item.Configure:shachar</permission>
    <permission>hudson.model.Item.Create:adam</permission>
    <permission>hudson.model.Item.Create:Administrator</permission>
    <permission>hudson.model.Item.Create:jaime</permission>
    <permission>hudson.model.Item.Create:john</permission>
    <permission>hudson.model.Item.Create:mark</permission>
    <permission>hudson.model.Item.Create:michael</permission>
    <permission>hudson.model.Item.Create:paul</permission>
    <permission>hudson.model.Item.Create:shachar</permission>
    <permission>hudson.model.Item.Delete:adam</permission>
    <permission>hudson.model.Item.Delete:Administrator</permission>
    <permission>hudson.model.Item.Delete:jaime</permission>
    <permission>hudson.model.Item.Delete:john</permission>
    <permission>hudson.model.Item.Delete:mark</permission>
    <permission>hudson.model.Item.Delete:michael</permission>
    <permission>hudson.model.Item.Delete:paul</permission>
    <permission>hudson.model.Item.Delete:shachar</permission>
    <permission>hudson.model.Item.Discover:adam</permission>
    <permission>hudson.model.Item.Discover:Administrator</permission>
    <permission>hudson.model.Item.Discover:igor</permission>
    <permission>hudson.model.Item.Discover:jaime</permission>
    <permission>hudson.model.Item.Discover:john</permission>
    <permission>hudson.model.Item.Discover:mark</permission>
    <permission>hudson.model.Item.Discover:michael</permission>
    <permission>hudson.model.Item.Discover:paul</permission>
    <permission>hudson.model.Item.Discover:shachar</permission>
    <permission>hudson.model.Item.Move:adam</permission>
    <permission>hudson.model.Item.Move:Administrator</permission>
    <permission>hudson.model.Item.Move:jaime</permission>
    <permission>hudson.model.Item.Move:john</permission>
    <permission>hudson.model.Item.Move:mark</permission>
    <permission>hudson.model.Item.Move:michael</permission>
    <permission>hudson.model.Item.Move:paul</permission>
    <permission>hudson.model.Item.Move:shachar</permission>
    <permission>hudson.model.Item.Read:adam</permission>
    <permission>hudson.model.Item.Read:Administrator</permission>
    <permission>hudson.model.Item.Read:igor</permission>
    <permission>hudson.model.Item.Read:jaime</permission>
    <permission>hudson.model.Item.Read:john</permission>
    <permission>hudson.model.Item.Read:johnh</permission>
    <permission>hudson.model.Item.Read:mark</permission>
    <permission>hudson.model.Item.Read:michael</permission>
    <permission>hudson.model.Item.Read:paul</permission>
    <permission>hudson.model.Item.Read:shachar</permission>
    <permission>hudson.model.Item.Workspace:adam</permission>
    <permission>hudson.model.Item.Workspace:Administrator</permission>
    <permission>hudson.model.Item.Workspace:igor</permission>
    <permission>hudson.model.Item.Workspace:jaime</permission>
    <permission>hudson.model.Item.Workspace:john</permission>
    <permission>hudson.model.Item.Workspace:johnh</permission>
    <permission>hudson.model.Item.Workspace:mark</permission>
    <permission>hudson.model.Item.Workspace:michael</permission>
    <permission>hudson.model.Item.Workspace:paul</permission>
    <permission>hudson.model.Item.Workspace:shachar</permission>
    <permission>hudson.model.Run.Delete:adam</permission>
    <permission>hudson.model.Run.Delete:Administrator</permission>
    <permission>hudson.model.Run.Delete:jaime</permission>
    <permission>hudson.model.Run.Delete:john</permission>
    <permission>hudson.model.Run.Delete:mark</permission>
    <permission>hudson.model.Run.Delete:michael</permission>
    <permission>hudson.model.Run.Delete:paul</permission>
    <permission>hudson.model.Run.Delete:shachar</permission>
    <permission>hudson.model.Run.Replay:adam</permission>
    <permission>hudson.model.Run.Replay:Administrator</permission>
    <permission>hudson.model.Run.Replay:michael</permission>
    <permission>hudson.model.Run.Update:adam</permission>
    <permission>hudson.model.Run.Update:Administrator</permission>
    <permission>hudson.model.Run.Update:igor</permission>
    <permission>hudson.model.Run.Update:jaime</permission>
    <permission>hudson.model.Run.Update:john</permission>
    <permission>hudson.model.Run.Update:johnh</permission>
    <permission>hudson.model.Run.Update:mark</permission>
    <permission>hudson.model.Run.Update:michael</permission>
    <permission>hudson.model.Run.Update:paul</permission>
    <permission>hudson.model.Run.Update:shachar</permission>
    <permission>hudson.model.View.Configure:adam</permission>
    <permission>hudson.model.View.Configure:Administrator</permission>
    <permission>hudson.model.View.Configure:jaime</permission>
    <permission>hudson.model.View.Configure:john</permission>
    <permission>hudson.model.View.Configure:mark</permission>
    <permission>hudson.model.View.Configure:michael</permission>
    <permission>hudson.model.View.Configure:paul</permission>
    <permission>hudson.model.View.Configure:shachar</permission>
    <permission>hudson.model.View.Create:adam</permission>
    <permission>hudson.model.View.Create:Administrator</permission>
    <permission>hudson.model.View.Create:jaime</permission>
    <permission>hudson.model.View.Create:john</permission>
    <permission>hudson.model.View.Create:mark</permission>
    <permission>hudson.model.View.Create:michael</permission>
    <permission>hudson.model.View.Create:paul</permission>
    <permission>hudson.model.View.Create:shachar</permission>
    <permission>hudson.model.View.Delete:adam</permission>
    <permission>hudson.model.View.Delete:Administrator</permission>
    <permission>hudson.model.View.Delete:jaime</permission>
    <permission>hudson.model.View.Delete:john</permission>
    <permission>hudson.model.View.Delete:mark</permission>
    <permission>hudson.model.View.Delete:michael</permission>
    <permission>hudson.model.View.Delete:paul</permission>
    <permission>hudson.model.View.Delete:shachar</permission>
    <permission>hudson.model.View.Read:adam</permission>
    <permission>hudson.model.View.Read:Administrator</permission>
    <permission>hudson.model.View.Read:igor</permission>
    <permission>hudson.model.View.Read:jaime</permission>
    <permission>hudson.model.View.Read:john</permission>
    <permission>hudson.model.View.Read:johnh</permission>
    <permission>hudson.model.View.Read:mark</permission>
    <permission>hudson.model.View.Read:michael</permission>
    <permission>hudson.model.View.Read:paul</permission>
    <permission>hudson.model.View.Read:shachar</permission>
    <permission>hudson.scm.SCM.Tag:adam</permission>
    <permission>hudson.scm.SCM.Tag:Administrator</permission>
    <permission>hudson.scm.SCM.Tag:igor</permission>
    <permission>hudson.scm.SCM.Tag:jaime</permission>
    <permission>hudson.scm.SCM.Tag:john</permission>
    <permission>hudson.scm.SCM.Tag:johnh</permission>
    <permission>hudson.scm.SCM.Tag:mark</permission>
    <permission>hudson.scm.SCM.Tag:michael</permission>
    <permission>hudson.scm.SCM.Tag:paul</permission>
    <permission>hudson.scm.SCM.Tag:shachar</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:michael</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:michael</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.jenkinsci.plugins.vSphereCloud plugin="vsphere-cloud@2.24">
      <name>vSphereCloud</name>
      <vsDescription>BigQA</vsDescription>
      <maxOnlineSlaves>0</maxOnlineSlaves>
      <vsConnectionConfig>
        <vsHost>https://10.70.20.94</vsHost>
        <allowUntrustedCertificate>true</allowUntrustedCertificate>
        <credentialsId>124b5bde-6e7a-4cb0-9c83-e3ef13331621</credentialsId>
      </vsConnectionConfig>
      <instanceCap>2147483647</instanceCap>
      <templates class="empty-list"/>
    </org.jenkinsci.plugins.vSphereCloud>
    <org.jenkinsci.plugins.vSphereCloud plugin="vsphere-cloud@2.24">
      <name>vSphereCloud</name>
      <vsDescription>LittleMac</vsDescription>
      <maxOnlineSlaves>0</maxOnlineSlaves>
      <vsConnectionConfig>
        <vsHost>https://10.70.20.96</vsHost>
        <allowUntrustedCertificate>true</allowUntrustedCertificate>
        <credentialsId>124b5bde-6e7a-4cb0-9c83-e3ef13331621</credentialsId>
      </vsConnectionConfig>
      <instanceCap>2147483647</instanceCap>
      <templates class="empty-list"/>
    </org.jenkinsci.plugins.vSphereCloud>
    <org.jenkinsci.plugins.vSphereCloud plugin="vsphere-cloud@2.24">
      <name>vSphereCloud</name>
      <vsDescription>big</vsDescription>
      <maxOnlineSlaves>0</maxOnlineSlaves>
      <vsConnectionConfig>
        <vsHost>https://10.70.20.22</vsHost>
        <allowUntrustedCertificate>true</allowUntrustedCertificate>
        <credentialsId>124b5bde-6e7a-4cb0-9c83-e3ef13331621</credentialsId>
      </vsConnectionConfig>
      <instanceCap>2147483647</instanceCap>
      <templates class="empty-list"/>
    </org.jenkinsci.plugins.vSphereCloud>
    <org.jenkinsci.plugins.vSphereCloud plugin="vsphere-cloud@2.24">
      <name>vSphereCloud</name>
      <vsDescription>BigMac</vsDescription>
      <maxOnlineSlaves>0</maxOnlineSlaves>
      <vsConnectionConfig>
        <vsHost>https://10.70.12.49</vsHost>
        <allowUntrustedCertificate>true</allowUntrustedCertificate>
        <credentialsId>rootV2</credentialsId>
      </vsConnectionConfig>
      <instanceCap>2147483647</instanceCap>
      <templates class="empty-list"/>
    </org.jenkinsci.plugins.vSphereCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>1. Nightly Builds for Trunk (8.9)</name>
      <description>Release 8.9 Nightly Builds&#xd;
See &quot;Nightly Builds for Branch&quot; for 8.8 builds&#xd;
See &quot;All Jobs&quot; view tab for Evidence Mover and other jobs.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Nightly build - trunk - 1 - Begin Nightly Build</string>
        <string>Nightly build - trunk - 2 - search-reduced-pack JAR</string>
        <string>Nightly build - trunk - 3 - Mac 64-bit</string>
        <string>Nightly build - trunk - 4 - Linux 32-bit</string>
        <string>Nightly build - trunk - 5 - Linux 64-bit</string>
        <string>Nightly build - trunk - 6 - ECC Windows and Java</string>
        <string>Nightly build - trunk - 7 - Collector Windows and Java</string>
        <string>QA Deploy - ECC Client - Linux-Mac</string>
        <string>QA Deploy - ECC Client - Windows</string>
        <string>QA Deploy - ECC Server - Windows</string>
        <string>QA Deploy - Nuix Collector Suite - Windows</string>
        <string>QA Deploy - Nuix Portable Collector - Linux-Mac</string>
        <string>QA Test Nuix Collector CLI - Windows</string>
        <string>QA Test Nuix Collector CLI - Windows - RobotFramework</string>
        <string>QA Test Portable Collector - LinuxMac</string>
        <string>QA Test Portable Collector - LinuxMac - RobotFramework</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.4"/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All Jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>2. Nightly Builds for Branch (8.8)</name>
      <description>Nightly Build for the latest Branch - 8.8&#xd;
See 1. Nightly Build for Trunk for 8.9 builds</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>Nightly build - branch - 1 - Begin Nightly Build</string>
        <string>Nightly build - branch - 2 - search-reduced-pack JAR</string>
        <string>Nightly build - branch - 3 - Mac 64-bit</string>
        <string>Nightly build - branch - 4 - Linux 32-bit</string>
        <string>Nightly build - branch - 5 - Linux 64-bit</string>
        <string>Nightly build - branch - 6 - ECC Windows and Java</string>
        <string>Nightly build - branch - 7 - Collector Windows and Java</string>
        <string>QA Deploy - ECC Client - Linux-Mac</string>
        <string>QA Deploy - ECC Client - Windows</string>
        <string>QA Deploy - ECC Server - Windows</string>
        <string>QA Deploy - Nuix Collector Suite - Windows</string>
        <string>QA Deploy - Nuix Portable Collector - Linux-Mac</string>
        <string>QA Test Nuix Collector CLI - Windows</string>
        <string>QA Test Nuix Collector CLI - Windows - RobotFramework</string>
        <string>QA Test Portable Collector - LinuxMac</string>
        <string>QA Test Portable Collector - LinuxMac - RobotFramework</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.4"/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>5. QA Misc</name>
      <description>Regression and Functional Testing&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>1. Prep Job Example</string>
        <string>ECC Functional Tests</string>
        <string>QA Ad-Hoc Deploy - ECC Server - Windows</string>
        <string>QA Ad-Hoc LINUX Multi</string>
        <string>QA Ad-Hoc WINDOWS Multi</string>
        <string>QA Ad-Hoc WINDOWS Multi2</string>
        <string>QA Check Version Collector Installed</string>
        <string>QA Cleanup Windows VMs</string>
        <string>QA Deploy - ECC Client - Linux-Mac</string>
        <string>QA Deploy - ECC Client - Windows</string>
        <string>QA Deploy - ECC Server - Windows</string>
        <string>QA Deploy - ECC Server INT2 - Windows</string>
        <string>QA Deploy - Nuix Collector Suite - Windows</string>
        <string>QA Deploy - Nuix Portable Collector - Linux-Mac</string>
        <string>QA DEPLOY ALL</string>
        <string>QA Experiment Python Unittest Junit Age test</string>
        <string>QA Install Latest Nuix Portable Collector - Linux-Mac 8.0.2.x</string>
        <string>QA Pipeline Nuix Collector</string>
        <string>QA Reboot Windows AVMs</string>
        <string>QA Revert To Snapshot Linux-Mac</string>
        <string>QA Revert to Snapshot Windows</string>
        <string>QA Test Nuix Collector CLI - Windows</string>
        <string>QA Test Nuix Collector CLI - Windows - RobotFramework</string>
        <string>QA Test Portable Collector - LinuxMac</string>
        <string>QA Test Portable Collector - LinuxMac - RobotFramework</string>
        <string>QA Uninstall Nuix Collector - Windows</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.4"/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>QA</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>3. Build-on-Commit Builds</name>
      <description>All build-on-commit builds for both the trunk and the latest branch</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>Build-on-commit - branch - Collector Java</string>
        <string>Build-on-commit - branch - Collector Windows</string>
        <string>Build-on-commit - branch - ECC Java</string>
        <string>Build-on-commit - branch - ECC Windows</string>
        <string>Build-on-commit - branch - Linux 32-bit</string>
        <string>Build-on-commit - branch - Linux 64-bit</string>
        <string>Build-on-commit - branch - Mac 64-bit</string>
        <string>Build-on-commit - trunk - Collector Java</string>
        <string>Build-on-commit - trunk - Collector Windows</string>
        <string>Build-on-commit - trunk - ECC Java</string>
        <string>Build-on-commit - trunk - ECC Windows</string>
        <string>Build-on-commit - trunk - Linux 32-bit</string>
        <string>Build-on-commit - trunk - Linux 64-bit</string>
        <string>Build-on-commit - trunk - Mac 64-bit</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.4"/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>4. Automated Tests</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>QA Ad-Hoc WINDOWS Multi2</string>
        <string>QA Revert To Snapshot Linux-Mac</string>
        <string>QA Revert to Snapshot Windows</string>
        <string>QA Test Nuix Collector CLI - Windows</string>
        <string>QA Test Nuix Collector CLI - Windows - RobotFramework</string>
        <string>QA Test Portable Collector - LinuxMac</string>
        <string>QA Test Portable Collector - LinuxMac - RobotFramework</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.robot.view.RobotListViewColumn plugin="robot@2.1.2"/>
        <hudson.plugins.CronViewColumn plugin="cron_column@1.4"/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>1. Nightly Builds for Trunk (8.9)</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>master</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>