<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build system for the Nextel SAB Client (both for TESTING &amp; PRODUCTION)</description>
  <logRotator>
    <daysToKeep>1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.FileParameterDefinition>
          <name>release_apk</name>
          <description>APK release to brand. </description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>logging_apk</name>
          <description>APK logging to brand </description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>apk_type</name>
          <description>MI: Motorola IDEN (Rubicon). M3: Motorola 3G (Jorian). H3: Huawei 3G (Titan). MI-1.6: Motorola IDEN 1.6 (Opus).</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>MI</string>
              <string>M3</string>
              <string>H3</string>
              <string>MI-1.6</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK1.6</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $release_apk</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*apk</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>