<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.339</version>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.View.Configure:I004048</permission>
    <permission>hudson.model.View.Configure:O67343</permission>
    <permission>hudson.model.View.Configure:I003257</permission>
    <permission>hudson.model.View.Configure:O50457</permission>
    <permission>hudson.model.View.Configure:I001542</permission>
    <permission>hudson.model.View.Configure:I003211</permission>
    <permission>hudson.model.View.Configure:O68116</permission>
    <permission>hudson.model.View.Configure:I003251</permission>
    <permission>hudson.model.View.Configure:I003687</permission>
    <permission>hudson.model.View.Configure:X089047</permission>
    <permission>hudson.model.View.Configure:X088877</permission>
    <permission>hudson.model.View.Configure:I001630</permission>
    <permission>hudson.model.View.Configure:I005431</permission>
    <permission>hudson.model.View.Configure:I004394</permission>
    <permission>hudson.model.View.Configure:O80762a</permission>
    <permission>hudson.model.View.Configure:O88526</permission>
    <permission>hudson.model.View.Configure:H51907</permission>
    <permission>hudson.model.View.Configure:O80762</permission>
    <permission>hudson.model.View.Configure:I004092</permission>
    <permission>hudson.model.View.Configure:o88494</permission>
    <permission>hudson.model.View.Configure:I002933</permission>
    <permission>hudson.model.View.Configure:I002667</permission>
    <permission>hudson.model.View.Configure:C78171</permission>
    <permission>hudson.model.View.Configure:H89709</permission>
    <permission>hudson.model.View.Configure:I080762</permission>
    <permission>hudson.model.View.Configure:O80748</permission>
    <permission>hudson.model.View.Configure:X088555</permission>
    <permission>hudson.model.View.Configure:X088095</permission>
    <permission>hudson.model.View.Configure:O88494</permission>
    <permission>hudson.model.View.Configure:O66853</permission>
    <permission>hudson.model.View.Configure:I003743</permission>
    <permission>hudson.model.Item.Read:I004048</permission>
    <permission>hudson.model.Item.Read:O67343</permission>
    <permission>hudson.model.Item.Read:I003257</permission>
    <permission>hudson.model.Item.Read:O50457</permission>
    <permission>hudson.model.Item.Read:I001542</permission>
    <permission>hudson.model.Item.Read:I003211</permission>
    <permission>hudson.model.Item.Read:O68116</permission>
    <permission>hudson.model.Item.Read:I003251</permission>
    <permission>hudson.model.Item.Read:I003687</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:X089047</permission>
    <permission>hudson.model.Item.Read:X088877</permission>
    <permission>hudson.model.Item.Read:I001630</permission>
    <permission>hudson.model.Item.Read:I005431</permission>
    <permission>hudson.model.Item.Read:I004394</permission>
    <permission>hudson.model.Item.Read:O80762a</permission>
    <permission>hudson.model.Item.Read:O88526</permission>
    <permission>hudson.model.Item.Read:H51907</permission>
    <permission>hudson.model.Item.Read:O80762</permission>
    <permission>hudson.model.Item.Read:I004092</permission>
    <permission>hudson.model.Item.Read:o88494</permission>
    <permission>hudson.model.Item.Read:I002933</permission>
    <permission>hudson.model.Item.Read:I002667</permission>
    <permission>hudson.model.Item.Read:C78171</permission>
    <permission>hudson.model.Item.Read:H89709</permission>
    <permission>hudson.model.Item.Read:I080762</permission>
    <permission>hudson.model.Item.Read:O80748</permission>
    <permission>hudson.model.Item.Read:X088555</permission>
    <permission>hudson.model.Item.Read:C88888</permission>
    <permission>hudson.model.Item.Read:X088095</permission>
    <permission>hudson.model.Item.Read:O66853</permission>
    <permission>hudson.model.Item.Read:I003743</permission>
    <permission>hudson.model.Item.Read:O88494</permission>
    <permission>hudson.scm.SCM.Tag:I004048</permission>
    <permission>hudson.scm.SCM.Tag:O67343</permission>
    <permission>hudson.scm.SCM.Tag:I003257</permission>
    <permission>hudson.scm.SCM.Tag:O50457</permission>
    <permission>hudson.scm.SCM.Tag:I001542</permission>
    <permission>hudson.scm.SCM.Tag:I003211</permission>
    <permission>hudson.scm.SCM.Tag:O68116</permission>
    <permission>hudson.scm.SCM.Tag:I003251</permission>
    <permission>hudson.scm.SCM.Tag:I003687</permission>
    <permission>hudson.scm.SCM.Tag:X089047</permission>
    <permission>hudson.scm.SCM.Tag:X088877</permission>
    <permission>hudson.scm.SCM.Tag:I001630</permission>
    <permission>hudson.scm.SCM.Tag:I005431</permission>
    <permission>hudson.scm.SCM.Tag:O80762a</permission>
    <permission>hudson.scm.SCM.Tag:O88526</permission>
    <permission>hudson.scm.SCM.Tag:H51907</permission>
    <permission>hudson.scm.SCM.Tag:O80762</permission>
    <permission>hudson.scm.SCM.Tag:I004092</permission>
    <permission>hudson.scm.SCM.Tag:o88494</permission>
    <permission>hudson.scm.SCM.Tag:I002933</permission>
    <permission>hudson.scm.SCM.Tag:I002667</permission>
    <permission>hudson.scm.SCM.Tag:C78171</permission>
    <permission>hudson.scm.SCM.Tag:H89709</permission>
    <permission>hudson.scm.SCM.Tag:I080762</permission>
    <permission>hudson.scm.SCM.Tag:O80748</permission>
    <permission>hudson.scm.SCM.Tag:X088555</permission>
    <permission>hudson.scm.SCM.Tag:C88888</permission>
    <permission>hudson.scm.SCM.Tag:X088095</permission>
    <permission>hudson.scm.SCM.Tag:O88494</permission>
    <permission>hudson.scm.SCM.Tag:O66853</permission>
    <permission>hudson.scm.SCM.Tag:I003743</permission>
    <permission>hudson.model.Hudson.Administer:O67343</permission>
    <permission>hudson.model.Hudson.Administer:I003743</permission>
    <permission>hudson.model.Run.Update:O67343</permission>
    <permission>hudson.model.Run.Update:I003743</permission>
    <permission>hudson.model.Run.Delete:O67343</permission>
    <permission>hudson.model.Run.Delete:I003743</permission>
    <permission>hudson.model.Item.Delete:O67343</permission>
    <permission>hudson.model.Item.Delete:I003743</permission>
    <permission>hudson.model.View.Delete:I004048</permission>
    <permission>hudson.model.View.Delete:O67343</permission>
    <permission>hudson.model.View.Delete:I003257</permission>
    <permission>hudson.model.View.Delete:O50457</permission>
    <permission>hudson.model.View.Delete:I001542</permission>
    <permission>hudson.model.View.Delete:I003211</permission>
    <permission>hudson.model.View.Delete:O68116</permission>
    <permission>hudson.model.View.Delete:I003251</permission>
    <permission>hudson.model.View.Delete:I003687</permission>
    <permission>hudson.model.View.Delete:X089047</permission>
    <permission>hudson.model.View.Delete:X088877</permission>
    <permission>hudson.model.View.Delete:I001630</permission>
    <permission>hudson.model.View.Delete:I005431</permission>
    <permission>hudson.model.View.Delete:I004394</permission>
    <permission>hudson.model.View.Delete:O80762a</permission>
    <permission>hudson.model.View.Delete:O88526</permission>
    <permission>hudson.model.View.Delete:H51907</permission>
    <permission>hudson.model.View.Delete:O80762</permission>
    <permission>hudson.model.View.Delete:I004092</permission>
    <permission>hudson.model.View.Delete:o88494</permission>
    <permission>hudson.model.View.Delete:I002933</permission>
    <permission>hudson.model.View.Delete:I002667</permission>
    <permission>hudson.model.View.Delete:C78171</permission>
    <permission>hudson.model.View.Delete:H89709</permission>
    <permission>hudson.model.View.Delete:I080762</permission>
    <permission>hudson.model.View.Delete:O80748</permission>
    <permission>hudson.model.View.Delete:X088555</permission>
    <permission>hudson.model.View.Delete:X088095</permission>
    <permission>hudson.model.View.Delete:O88494</permission>
    <permission>hudson.model.View.Delete:O66853</permission>
    <permission>hudson.model.View.Delete:I003743</permission>
    <permission>hudson.model.View.Create:I004048</permission>
    <permission>hudson.model.View.Create:O67343</permission>
    <permission>hudson.model.View.Create:I003257</permission>
    <permission>hudson.model.View.Create:O50457</permission>
    <permission>hudson.model.View.Create:I001542</permission>
    <permission>hudson.model.View.Create:I003211</permission>
    <permission>hudson.model.View.Create:O68116</permission>
    <permission>hudson.model.View.Create:I003251</permission>
    <permission>hudson.model.View.Create:I003687</permission>
    <permission>hudson.model.View.Create:X089047</permission>
    <permission>hudson.model.View.Create:X088877</permission>
    <permission>hudson.model.View.Create:I001630</permission>
    <permission>hudson.model.View.Create:I005431</permission>
    <permission>hudson.model.View.Create:I004394</permission>
    <permission>hudson.model.View.Create:O80762a</permission>
    <permission>hudson.model.View.Create:O88526</permission>
    <permission>hudson.model.View.Create:H51907</permission>
    <permission>hudson.model.View.Create:O80762</permission>
    <permission>hudson.model.View.Create:I004092</permission>
    <permission>hudson.model.View.Create:o88494</permission>
    <permission>hudson.model.View.Create:I002933</permission>
    <permission>hudson.model.View.Create:I002667</permission>
    <permission>hudson.model.View.Create:C78171</permission>
    <permission>hudson.model.View.Create:H89709</permission>
    <permission>hudson.model.View.Create:I080762</permission>
    <permission>hudson.model.View.Create:O80748</permission>
    <permission>hudson.model.View.Create:X088555</permission>
    <permission>hudson.model.View.Create:X088095</permission>
    <permission>hudson.model.View.Create:O88494</permission>
    <permission>hudson.model.View.Create:O66853</permission>
    <permission>hudson.model.View.Create:I003743</permission>
    <permission>hudson.model.Item.Create:I004048</permission>
    <permission>hudson.model.Item.Create:O67343</permission>
    <permission>hudson.model.Item.Create:O50457</permission>
    <permission>hudson.model.Item.Create:I001542</permission>
    <permission>hudson.model.Item.Create:O68116</permission>
    <permission>hudson.model.Item.Create:I003251</permission>
    <permission>hudson.model.Item.Create:I003687</permission>
    <permission>hudson.model.Item.Create:X089047</permission>
    <permission>hudson.model.Item.Create:X088877</permission>
    <permission>hudson.model.Item.Create:I005431</permission>
    <permission>hudson.model.Item.Create:I004394</permission>
    <permission>hudson.model.Item.Create:O80762a</permission>
    <permission>hudson.model.Item.Create:O88526</permission>
    <permission>hudson.model.Item.Create:H51907</permission>
    <permission>hudson.model.Item.Create:O80762</permission>
    <permission>hudson.model.Item.Create:I004092</permission>
    <permission>hudson.model.Item.Create:o88494</permission>
    <permission>hudson.model.Item.Create:I002933</permission>
    <permission>hudson.model.Item.Create:I002667</permission>
    <permission>hudson.model.Item.Create:C78171</permission>
    <permission>hudson.model.Item.Create:H89709</permission>
    <permission>hudson.model.Item.Create:I080762</permission>
    <permission>hudson.model.Item.Create:O80748</permission>
    <permission>hudson.model.Item.Create:X088555</permission>
    <permission>hudson.model.Item.Create:X088095</permission>
    <permission>hudson.model.Item.Create:C88888</permission>
    <permission>hudson.model.Item.Create:O88494</permission>
    <permission>hudson.model.Item.Create:O66853</permission>
    <permission>hudson.model.Item.Create:I003743</permission>
    <permission>hudson.model.Computer.Delete:O67343</permission>
    <permission>hudson.model.Computer.Delete:I003743</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:I001630</permission>
    <permission>hudson.model.Hudson.Read:I003257</permission>
    <permission>hudson.model.Hudson.Read:O67343</permission>
    <permission>hudson.model.Hudson.Read:I003211</permission>
    <permission>hudson.model.Hudson.Read:I003743</permission>
    <permission>hudson.model.Item.Build:I004048</permission>
    <permission>hudson.model.Item.Build:O67343</permission>
    <permission>hudson.model.Item.Build:I003257</permission>
    <permission>hudson.model.Item.Build:O50457</permission>
    <permission>hudson.model.Item.Build:I001542</permission>
    <permission>hudson.model.Item.Build:I003211</permission>
    <permission>hudson.model.Item.Build:O68116</permission>
    <permission>hudson.model.Item.Build:I003251</permission>
    <permission>hudson.model.Item.Build:I003687</permission>
    <permission>hudson.model.Item.Build:X089047</permission>
    <permission>hudson.model.Item.Build:X088877</permission>
    <permission>hudson.model.Item.Build:I001630</permission>
    <permission>hudson.model.Item.Build:I005431</permission>
    <permission>hudson.model.Item.Build:I004394</permission>
    <permission>hudson.model.Item.Build:O80762a</permission>
    <permission>hudson.model.Item.Build:O88526</permission>
    <permission>hudson.model.Item.Build:H51907</permission>
    <permission>hudson.model.Item.Build:O80762</permission>
    <permission>hudson.model.Item.Build:I004092</permission>
    <permission>hudson.model.Item.Build:o88494</permission>
    <permission>hudson.model.Item.Build:I002933</permission>
    <permission>hudson.model.Item.Build:I002667</permission>
    <permission>hudson.model.Item.Build:C78171</permission>
    <permission>hudson.model.Item.Build:H89709</permission>
    <permission>hudson.model.Item.Build:I080762</permission>
    <permission>hudson.model.Item.Build:O80748</permission>
    <permission>hudson.model.Item.Build:X088555</permission>
    <permission>hudson.model.Item.Build:C88888</permission>
    <permission>hudson.model.Item.Build:X088095</permission>
    <permission>hudson.model.Item.Build:O66853</permission>
    <permission>hudson.model.Item.Build:I003743</permission>
    <permission>hudson.model.Item.Build:O88494</permission>
    <permission>hudson.model.Item.Release:I004048</permission>
    <permission>hudson.model.Item.Release:O67343</permission>
    <permission>hudson.model.Item.Release:I003257</permission>
    <permission>hudson.model.Item.Release:O50457</permission>
    <permission>hudson.model.Item.Release:I001542</permission>
    <permission>hudson.model.Item.Release:I003211</permission>
    <permission>hudson.model.Item.Release:O68116</permission>
    <permission>hudson.model.Item.Release:I003251</permission>
    <permission>hudson.model.Item.Release:I003687</permission>
    <permission>hudson.model.Item.Release:X089047</permission>
    <permission>hudson.model.Item.Release:X088877</permission>
    <permission>hudson.model.Item.Release:I001630</permission>
    <permission>hudson.model.Item.Release:I005431</permission>
    <permission>hudson.model.Item.Release:I004394</permission>
    <permission>hudson.model.Item.Release:O80762a</permission>
    <permission>hudson.model.Item.Release:O88526</permission>
    <permission>hudson.model.Item.Release:H51907</permission>
    <permission>hudson.model.Item.Release:O80762</permission>
    <permission>hudson.model.Item.Release:I004092</permission>
    <permission>hudson.model.Item.Release:o88494</permission>
    <permission>hudson.model.Item.Release:I002933</permission>
    <permission>hudson.model.Item.Release:I002667</permission>
    <permission>hudson.model.Item.Release:C78171</permission>
    <permission>hudson.model.Item.Release:H89709</permission>
    <permission>hudson.model.Item.Release:I080762</permission>
    <permission>hudson.model.Item.Release:O80748</permission>
    <permission>hudson.model.Item.Release:X088555</permission>
    <permission>hudson.model.Item.Release:C88888</permission>
    <permission>hudson.model.Item.Release:X088095</permission>
    <permission>hudson.model.Item.Release:O66853</permission>
    <permission>hudson.model.Item.Release:I003743</permission>
    <permission>hudson.model.Item.Release:O88494</permission>
    <permission>hudson.model.Item.Workspace:I004048</permission>
    <permission>hudson.model.Item.Workspace:O67343</permission>
    <permission>hudson.model.Item.Workspace:I003257</permission>
    <permission>hudson.model.Item.Workspace:O50457</permission>
    <permission>hudson.model.Item.Workspace:I001542</permission>
    <permission>hudson.model.Item.Workspace:I003211</permission>
    <permission>hudson.model.Item.Workspace:O68116</permission>
    <permission>hudson.model.Item.Workspace:I003251</permission>
    <permission>hudson.model.Item.Workspace:I003687</permission>
    <permission>hudson.model.Item.Workspace:X089047</permission>
    <permission>hudson.model.Item.Workspace:X088877</permission>
    <permission>hudson.model.Item.Workspace:I001630</permission>
    <permission>hudson.model.Item.Workspace:I005431</permission>
    <permission>hudson.model.Item.Workspace:I004394</permission>
    <permission>hudson.model.Item.Workspace:O80762a</permission>
    <permission>hudson.model.Item.Workspace:O88526</permission>
    <permission>hudson.model.Item.Workspace:H51907</permission>
    <permission>hudson.model.Item.Workspace:O80762</permission>
    <permission>hudson.model.Item.Workspace:I004092</permission>
    <permission>hudson.model.Item.Workspace:o88494</permission>
    <permission>hudson.model.Item.Workspace:I002933</permission>
    <permission>hudson.model.Item.Workspace:I002667</permission>
    <permission>hudson.model.Item.Workspace:C78171</permission>
    <permission>hudson.model.Item.Workspace:H89709</permission>
    <permission>hudson.model.Item.Workspace:I080762</permission>
    <permission>hudson.model.Item.Workspace:O80748</permission>
    <permission>hudson.model.Item.Workspace:X088555</permission>
    <permission>hudson.model.Item.Workspace:C88888</permission>
    <permission>hudson.model.Item.Workspace:X088095</permission>
    <permission>hudson.model.Item.Workspace:O66853</permission>
    <permission>hudson.model.Item.Workspace:I003743</permission>
    <permission>hudson.model.Item.Workspace:O88494</permission>
    <permission>hudson.model.Computer.Configure:O67343</permission>
    <permission>hudson.model.Computer.Configure:I003743</permission>
    <permission>hudson.model.Item.ExtendedRead:I004048</permission>
    <permission>hudson.model.Item.ExtendedRead:O67343</permission>
    <permission>hudson.model.Item.ExtendedRead:I003257</permission>
    <permission>hudson.model.Item.ExtendedRead:O50457</permission>
    <permission>hudson.model.Item.ExtendedRead:I001542</permission>
    <permission>hudson.model.Item.ExtendedRead:I003211</permission>
    <permission>hudson.model.Item.ExtendedRead:O68116</permission>
    <permission>hudson.model.Item.ExtendedRead:I003251</permission>
    <permission>hudson.model.Item.ExtendedRead:I003687</permission>
    <permission>hudson.model.Item.ExtendedRead:X089047</permission>
    <permission>hudson.model.Item.ExtendedRead:X088877</permission>
    <permission>hudson.model.Item.ExtendedRead:I001630</permission>
    <permission>hudson.model.Item.ExtendedRead:I005431</permission>
    <permission>hudson.model.Item.ExtendedRead:I004394</permission>
    <permission>hudson.model.Item.ExtendedRead:O80762a</permission>
    <permission>hudson.model.Item.ExtendedRead:O88526</permission>
    <permission>hudson.model.Item.ExtendedRead:H51907</permission>
    <permission>hudson.model.Item.ExtendedRead:O80762</permission>
    <permission>hudson.model.Item.ExtendedRead:I004092</permission>
    <permission>hudson.model.Item.ExtendedRead:o88494</permission>
    <permission>hudson.model.Item.ExtendedRead:I002933</permission>
    <permission>hudson.model.Item.ExtendedRead:I002667</permission>
    <permission>hudson.model.Item.ExtendedRead:C78171</permission>
    <permission>hudson.model.Item.ExtendedRead:H89709</permission>
    <permission>hudson.model.Item.ExtendedRead:I080762</permission>
    <permission>hudson.model.Item.ExtendedRead:O80748</permission>
    <permission>hudson.model.Item.ExtendedRead:X088555</permission>
    <permission>hudson.model.Item.ExtendedRead:C88888</permission>
    <permission>hudson.model.Item.ExtendedRead:X088095</permission>
    <permission>hudson.model.Item.ExtendedRead:O66853</permission>
    <permission>hudson.model.Item.ExtendedRead:I003743</permission>
    <permission>hudson.model.Item.ExtendedRead:O88494</permission>
    <permission>hudson.model.Item.Configure:I004048</permission>
    <permission>hudson.model.Item.Configure:O67343</permission>
    <permission>hudson.model.Item.Configure:O50457</permission>
    <permission>hudson.model.Item.Configure:I001542</permission>
    <permission>hudson.model.Item.Configure:O68116</permission>
    <permission>hudson.model.Item.Configure:I003251</permission>
    <permission>hudson.model.Item.Configure:I003687</permission>
    <permission>hudson.model.Item.Configure:X089047</permission>
    <permission>hudson.model.Item.Configure:X088877</permission>
    <permission>hudson.model.Item.Configure:I005431</permission>
    <permission>hudson.model.Item.Configure:I004394</permission>
    <permission>hudson.model.Item.Configure:O80762a</permission>
    <permission>hudson.model.Item.Configure:O88526</permission>
    <permission>hudson.model.Item.Configure:H51907</permission>
    <permission>hudson.model.Item.Configure:O80762</permission>
    <permission>hudson.model.Item.Configure:I004092</permission>
    <permission>hudson.model.Item.Configure:o88494</permission>
    <permission>hudson.model.Item.Configure:I002933</permission>
    <permission>hudson.model.Item.Configure:I002667</permission>
    <permission>hudson.model.Item.Configure:C78171</permission>
    <permission>hudson.model.Item.Configure:H89709</permission>
    <permission>hudson.model.Item.Configure:I080762</permission>
    <permission>hudson.model.Item.Configure:O80748</permission>
    <permission>hudson.model.Item.Configure:X088555</permission>
    <permission>hudson.model.Item.Configure:X088095</permission>
    <permission>hudson.model.Item.Configure:C88888</permission>
    <permission>hudson.model.Item.Configure:O88494</permission>
    <permission>hudson.model.Item.Configure:O66853</permission>
    <permission>hudson.model.Item.Configure:I003743</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm">
    <domain>axa-de.intraxa</domain>
  </securityRealm>
  <systemMessage>Willkommen in der Integrationsumgebung - Continuous Integration mit Hudson</systemMessage>
  <jdks>
    <jdk>
      <name>JDK1.4</name>
      <home>/opt/java/jdk1.4</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JDK1.5</name>
      <home>/opt/java/jdk1.5</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JDK1.6</name>
      <home>/opt/java/jdk1.6</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JDK1.5.0_14</name>
      <home>/opt/java/jdk1.5.0_14</home>
      <properties/>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>wg0app14</name>
      <description>BT-Buildserver</description>
      <remoteFS>d:\hudson_home</remoteFS>
      <numExecutors>4</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.os.windows.ManagedWindowsServiceLauncher">
        <userName></userName>
        <password>mPLYVxzcF7e6Q1Ps8OxCtQ==</password>
      </launcher>
      <label>Windows BT-Build</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>javarelease</name>
      <description>Hudson-Server zur Erstellung der Release-Builds / Maven-Builds laufen nur mit Releases - Snapshots stehen nicht zur VerfÃ&#x83;Â¼gung</description>
      <remoteFS>/opt/tse/hudson_home</remoteFS>
      <numExecutors>4</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher">
        <host>lg0app74</host>
        <port>22</port>
        <username></username>
        <password></password>
        <privatekey></privatekey>
        <jvmOptions></jvmOptions>
      </launcher>
      <label>Linux Java-Release</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>BOB-Framework</name>
      <description>Neues gemeinsames (ALt-DBV + ALt-AXA) Framework&#xd;
Autor: ITAS-JCC</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>de.axa.fw.bob.base</string>
        <string>de.axa.fw.bob.service.contract.v1</string>
        <string>de.axa.fw.bob.service.core</string>
      </jobNames>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>ApplCtl</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.JobGraphsSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>ApplCtl</string>
          </jobNames>
          <name>Buildergebnisse</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
        </hudson.plugins.sectioned__view.JobGraphsSection>
        <hudson.plugins.sectioned__view.TestResultViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.JobGraphsSection/jobNames/comparator"/>
            <string>ApplCtl</string>
          </jobNames>
          <name>Testergebnise</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
        </hudson.plugins.sectioned__view.TestResultViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.JobGraphsSection/jobNames/comparator"/>
            <string>ApplCtl</string>
            <string>ApplCtl_Deploy</string>
            <string>axaFirmenPOM</string>
          </jobNames>
          <name>ApplCtl</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>Axa-Framework</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>axa-alert_compile</string>
            <string>axa-alert_Nightbuild</string>
            <string>axa-authentification</string>
            <string>axa-dat</string>
            <string>axa-ldap</string>
            <string>axa-monitor</string>
            <string>axa-mqcom</string>
            <string>axa-security</string>
            <string>axa-webgui</string>
          </jobNames>
          <name>AXA-Framework</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>axaSESUser</string>
            <string>axaSESUser_v10Wartung</string>
            <string>axaSESUserhelloWorld</string>
          </jobNames>
          <name>axaSESUser</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>P-Inet</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>ansprechpartnersuche_compile</string>
            <string>myaxaBatch_compile</string>
            <string>myaxaJaxb_compile</string>
            <string>myaxaJaxws_compile</string>
            <string>myaxaService_compile</string>
            <string>myaxaUm_compile</string>
            <string>myaxaWeb_compile</string>
            <string>schwarzesbrett-Compile</string>
            <string>webforms_compile</string>
          </jobNames>
          <name>Compile</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>ansprechpartnersuche_Nightbuild</string>
            <string>axa-dat</string>
            <string>myaxaBatch_Nightbuild</string>
            <string>myaxaJaxb_Nightbuild</string>
            <string>myaxaJaxws_Nightbuild</string>
            <string>myaxaService_Nightbuild</string>
            <string>myaxaUm_Nightbuild</string>
            <string>myaxaWeb_Nightbuild</string>
            <string>schwarzesbrett-Nightbuild</string>
            <string>telefonbuch</string>
            <string>webforms_Nightbuild</string>
          </jobNames>
          <name>Nightbuild</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>Merito</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>merito-compile</string>
          </jobNames>
          <name>Compile</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.JobGraphsSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>merito-compile</string>
          </jobNames>
          <name>Compile Buildverlauf</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
        </hudson.plugins.sectioned__view.JobGraphsSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>merito</string>
            <string>merito_notest</string>
            <string>meritoDBFramework</string>
            <string>serviceKranken</string>
          </jobNames>
          <name>Nightbuild</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.JobColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.JobGraphsSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>merito</string>
            <string>merito_notest</string>
            <string>meritoDBFramework</string>
            <string>serviceKranken</string>
          </jobNames>
          <name>Nighbuild Buildverlauf</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
        </hudson.plugins.sectioned__view.JobGraphsSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>IFA</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView[2]/sections/hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>axaBiproWSbank</string>
            <string>axaBiproWSinkasso</string>
            <string>axaBiproWSlebenRueckkauf</string>
            <string>axaBiproWSportalLinks</string>
          </jobNames>
          <name>Webservices</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView[2]/sections/hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>axaBiproWScommon</string>
          </jobNames>
          <name>Commons</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView[2]/sections/hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>axaBiproWSgesamt</string>
            <string>axaBiproWSwarParent</string>
          </jobNames>
          <name>Applications</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>Maven2</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>axaFirmenPOM</string>
            <string>axaFirmenWebserviceIFAPOM</string>
            <string>axaFirmenWebservicePOM</string>
          </jobNames>
          <name>POM&apos;s</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>pomDependencies</string>
          </jobNames>
          <name>Tools</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastStableColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>Linux Java-Integration</label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.JobGraphsSection/jobNames/comparator"/>
          </default>
          <int>1</int>
          <string>ECLIPSE_HOME</string>
          <string>/opt/tse/buildtools/eclipse3.3</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <disabledAdministrativeMonitors>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
  </disabledAdministrativeMonitors>
</hudson>